<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}test Lengow{% endblock %}</title>
    {% stylesheets '@TLTestBundle/Resources/public/main.css'
      'css/bootstrap.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
  </head>
  <body>

    {% block body %}
    {% endblock %}

  </body>
</html>