{% extends "TLTestBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Formulaire d'ajout{% endblock %}

{% block body %}
    <h1>Formulaire d'ajout</h1>
    <div class="well">
      {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        <div class="form-group">
          {# Génération du label. #}
          {{ form_label(form.orderId, "Id de l'objet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

          {# Affichage des erreurs pour ce champ précis. #}
          {{ form_errors(form.orderId) }}

          <div class="col-sm-4">
            {# Génération de l'input. #}
            {{ form_widget(form.orderId, {'attr': {'class': 'form-control'}}) }}
          </div>
        </div>

        <div class="form-group">
          {# Génération du label. #}
          {{ form_label(form.marketplace, "Site d'achat", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

          {# Affichage des erreurs pour ce champ précis. #}
          {{ form_errors(form.marketplace) }}

          <div class="col-sm-4">
            {# Génération de l'input. #}
            {{ form_widget(form.marketplace, {'attr': {'class': 'form-control'}}) }}
          </div>
        </div>

        {# Idem pour un autre champ. #}
        <div class="form-group">
          {{ form_label(form.orderPurchaseDate, "Date d'achat", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
          {{ form_errors(form.orderPurchaseDate) }}
          <div class="col-sm-4">
            {{ form_widget(form.orderPurchaseDate, {'attr': {'class': 'form-control'}}) }}
          </div>        
        </div>

        <div class="form-group">
          {{ form_label(form.orderAmount, "Prix d'achat", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
          {{ form_errors(form.orderAmount) }}
          <div class="col-sm-4">
            {{ form_widget(form.orderAmount, {'attr': {'class': 'form-control'}}) }}
          </div>
        </div>

        <div class="form-group">
          {{ form_label(form.nbOrders, "Nombre d'élément acheté", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
          {{ form_errors(form.nbOrders) }}
          <div class="col-sm-4">
            {{ form_widget(form.nbOrders, {'attr': {'class': 'form-control'}}) }}
          </div>
        </div>

        <div class="form-group">
          {{ form_label(form.idProductLengow, "id de l'objet Lengow", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
          {{ form_errors(form.idProductLengow) }}
          <div class="col-sm-4">
            {{ form_widget(form.idProductLengow, {'attr': {'class': 'form-control'}}) }}
          </div>
        </div>

      {# Génération du label + error + widget pour un champ #}


      {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
      {{ form_widget(form.ajouter, {'attr': {'class': 'btn btn-primary'}}) }}

      {# Génération automatique des champs pas encore écrits.
         Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
         et tous les champs cachés (type « hidden »). #}
      {{ form_rest(form) }}

      {# Fermeture de la balise <form> du formulaire HTML #}
      {{ form_end(form) }}
    </div>
{% endblock %}