{% extends "TLTestBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Liste des achats{% endblock %}

{% block body %}
    <body>
        <h1>Liste des achats</h1>
    {{ grid(grid) }}
    </body>
{% endblock %}